@charset "UTF-8";

@media screen and (min-width: 768px){
    #burguer{
        display: none;
    }
    
    #itens{
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main{
        max-width: 700px;
    }
}