@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

header{
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1{
    flex: 0 0 200px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: white;
    transition: background-color 0.4s;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
}
